<a href="https://colab.research.google.com/github/xinyuanp/DS-Take-Home/blob/master/panda_functions_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. How to import pandas and check the version?

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.1.5

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

{'system': {'commit': 'b5958ee1999e9aead1938c0bba2b674378807b3d', 'python': '3.6.9.final.0', 'python-bits': 64, 'OS': 'Linux', 'OS-release': '4.19.112+', 'Version': '#1 SMP Thu Jul 23 08:00:38 PDT 2020', 'machine': 'x86_64', 'processor': 'x86_64', 'byteorder': 'little', 'LC_ALL': None, 'LANG': 'en_US.UTF-8', 'LOCALE': {'language-code': 'en_US', 'encoding': 'UTF-8'}}, 'dependencies': {'pandas': '1.1.5', 'numpy': '1.19.5', 'pytz': '2018.9', 'dateutil': '2.8.1', 'pip': '19.3.1', 'setuptools': '51.1.1', 'Cython': '0.29.21', 'pytest': '3.6.4', 'hypothesis': None, 'sphinx': '1.8.5', 'blosc': None, 'feather': '0.4.1', 'xlsxwriter': None, 'lxml.etree': '4.2.6', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': '2.7.6.1 (dt dec pq3 ext lo64)', 'jinja2': '2.11.2', 'IPython': '5.5.0', 'pandas_datareader': '0.9.0', 'bs4': '4.6.3', 'bottleneck': '1.3.2', 'fsspec': None, 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.2.2', 'numexpr': '2.7.2', 'odfpy': None, 'openpyxl': '2.5.9', 'pandas_gbq': '0.13.3', 'pyarrow': '0.14.1', 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.4.1', 'sqlalchemy': '1.3.22', 'tables': '3.4.4', 'tabulate': '0.8.7', 'xarray': '0.15.1', 'xlrd': '1.1.0', 'xlwt': '1.3.0', 'numba': '0.48.0'}}
None

2. How to create a series from a list, numpy array and dict?

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist,myarr))

3. How to convert the index of a series into a column of a dataframe?

In [ ]:
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

5. How to assign name to the series' index

In [ ]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [ ]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and B?

In [ ]:
# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, medium, 75th, and max of a numeric series?

In [ ]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?

In [ ]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

10. How to keep only top 2 most frequent values as it is and replace everything else as 'Other'?

In [22]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# Solution
print(ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

1    4
4    3
2    3
3    2
dtype: int64

0         1
1         4
2     Other
3     Other
4         1
5     Other
6         4
7     Other
8         4
9         1
10    Other
11        1
dtype: object

11. How to bin a numeric series to 10 groups of equal size?

In [24]:
# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.325818
1    0.609108
2    0.925200
3    0.276598
4    0.846525
dtype: float64

0     5th
1     7th
2    10th
3     4th
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. How to convert a numpy array to a dataframe of given shape? (L1)

In [ ]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))
# Solution
# Reshape the series ser into a dataframe with 7 rows and 5 columns
df = pd.DataFrame(ser.values.reshape(7,5))

13. How to find the positions of numbers that are multiples of 3 from a series?

In [55]:
# Input
ser = np.random.randint(1, 10, 7)
# Solution
#ser[ser%3==0]       #this one not only returns positions but also values
np.argwhere(ser%3==0)   #this one only returns positions only 
np.where(ser%3==0)

#if pd.series added, we need to use ser.values
# Input
ser = pd.Series(np.random.randint(1, 10, 7)) 
# Solution
np.argwhere(ser.values%3==0)

array([[0]])

14. How to extract items at given positions from a series

In [47]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
#ser.take(pos)      #both works
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [ ]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))


# Output
# Vertical
#ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)      #axis{0/’index’, 1/’columns’}, default 0

16. How to get the positions of items of series A in another series B?

In [ ]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

17. How to compute the mean squared error on a truth and predicted series?

In [ ]:
# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# Solution
np.mean((truth-pred)**2)

18. How to convert the first character of each element in a series to uppercase?

In [ ]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'off?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

19. How to calculate the number of characters in each word in a series?

In [ ]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'off?'])

# Solution
ser.map(lambda x: len(x))

20. How to compute difference of differences between consequtive numbers of a series?

In [ ]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

21. How to convert a series of date-strings to a timeseries?

In [ ]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse    #This module offers a generic date/time string parser which is able to parse most known formats to represent a date and/or time.
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [ ]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

23. How to convert year-month string to dates corresponding to the 4th day of the month?